.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.item {
    position: absolute;
    background-color: transparent;
    width: calc(var(--i) * 25px);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid rgb(0, 200, 255);
    transform: rotateX(70deg);
    animation: my-move 3s ease-in-out calc(var(--i) * 0.08s) infinite;
    box-shadow: 0px 0px 15px rgb(74, 227, 77), inset 0px 0px 15px rgb(255, 25, 25);
}
